@import "solarized.scss"; // Color scheme
@import "slider.scss";
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    background-image: url('img/bg01.jpg');
}

#hero-main {
    text-align: center;
    color: $Base03;
    @include border-radius(15px);
    background-color: $Base3;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5px;
    padding-top: 15px;
}

@media screen and (min-width: 1024px) {
    #hero-main {
        padding: 25px;
        padding-top: 25px;
    }
}

$header-h1-size: 2.5em;
#hero-header h1 {
    font-weight: bold;
    font-size: $header-h1-size;
}

@media screen and (min-width: 1024px) {
    #hero-header h1 {
        font-size: $header-h1-size*1.5;
    }
}

#hero-header {
    align-items: center;
}

$header-tagline-size:1em;
#tagline {
    font-size: $header-tagline-size;
}

@media screen and (min-width: 1024px) {
    #tagline {
        font-size: $header-tagline-size*1.5;
    }
}

#hero-footer {
    color: $Base0;
    margin-top: 25px;
}

#hero-content {
    align-items: center;
}

.btn-huge {
    width: 100%;
}

.input-huge {
    width: 100%;
}

.settings-btn {
    margin-left: 0;
    padding-left: 0;
    height: 95%;
    position: relative;
    top: 3px;
    left: -4px;
    border: 1px solid $Base01;
}

.submit-btn {
    margin-top: 15px;
}

.submit-input {
    text-align: center;
}

// Make password text a little smaller on small devices.
@media screen and (max-width: 1024px) {
    .show-message>h2 {
        font-size: 1.5em;
    }
}