<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple password pusher and generator. Fork on Gitlab https://gitlab.com/stemid/pwfrank">
    <meta name="author" content="Stefan Midjich">
    <title>Password Pusher</title>

    <noscript>
        <style>
            body {
                font-size: 32px;
                text-align: center;
                line-height: 100vh;
            }

            body:after {
                content: "Please enable JavaScript in your browser to view this site.";
                background-color: #cb4b16;
                color:#002b36;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                border-radius: 5px;
                padding: 5px;
            }
        </style>
    </noscript>
</head>