// Solarized color scheme
$Base03: #002b36; // 
$Base02: #073642; // 
$Base01: #586e75; // 
$Base00: #657b83; // 
$Base0: #839496;
$Base1: #93a1a1;
$Base2: #eee8d5;
$Base3: #fdf6e3;

$Yellow: #b58900;
$Orange: #cb4b16;
$Red: #dc322f;
$Magenta: #d33682;
$Violet: #6c71c4;
$Blue: #268bd2;
$Cyan: #2aa198;
$Green: #859900;

$back-color: $Base2;
$fore-color: $Base1;
$heading-smalltext-forecolor: $Base01;
$blockquote-back-color: $Base03;

// Navigation
$header-back-color: $Base03;
$header-fore-color: $Base1;

// Forms and input control
$form-back-color: $Base3;
$form-border-style: none;

$fieldset-back-color: $form-back-color;
$fieldset-border-style: none;

$input-back-color: #fff;
$input-border-style: 1px solid $Base01;
$input-placeholder-fore-color: $Base0;
$input-border-radius: none;

$button-group-margin: 0;
$button-group-border-style: none;
$button-margin:0;