<template name="Index">
    <!-- Modal -->
    <div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Push password</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success">
                        <p class="lead">Use this link instead of sending a password in clear-text</p>
                        <input type="text" class="col-md-12" id="messageLink" readonly/>
                        <p class="muted">Click on the text and use Ctrl+c (⌘+c on Macintosh) to copy</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div id="hero-header" class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <h1>Password Pusher</h1>
            <p id="tagline">Don't send passwords over e-mail, instead send links to Password Pusher that expire after a given number of views/days.</p>
        </div>
    </div>

    <form id="hero-content" class="text-center form-group message-form">

        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">

                <div class="input-group">
                    <input id="messageInput" name="message" type="text" class="form-control submit-input" placeholder="Enter password" />
                    <div class="input-group-btn">
                        <button id="toggle-more-settings" type="button" class="btn btn-default">
                                            <!--<i class="fa fa-caret-left" aria-hidden="true"></i>-->
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <button id="submit-message-form" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Pushing..." type="submit"
                    class="btn btn-primary btn-block submit-btn">Push password!</button>
            </div>
        </div>

        <div id="more-settings" class="row collapse" aria-expanded="false">
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <legend>Save for</legend>
                <div class="form-group row">
                    <div class="range-slider col-sm-10">
                        <input class="range-slider__range form-control" name="retentiondays" type="range" value="{{maxDays}}" min="1" max="30" id="retention-days">
                        <span class="range-slider__value">1</span>
                    </div>
                    <label for="retentiondays" class="col-sm-2">Days</label>
                </div>

                <div class="form-group row">
                    <div class="range-slider col-sm-10">
                        <input class="range-slider__range form-control" name="retentionviews" type="range" value="{{maxViews}}" min="1" max="30" id="retention-views">
                        <span class="range-slider__value">1</span>
                    </div>
                    <label for="retentionviews" class="col-sm-2">Views</label>
                </div>

                {{# if passwordGenerator }}
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <legend>Password generator</legend>
                        <div class="form-group row">
                            <label for="languageradio" class="col-sm-2">Language</label>
                            <div class="col-sm-10 text-left">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="languageradio" value="all" checked>All
                                    </label>
                                </div>
                                {{# each language in wordlistLanguages}}
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="languageradio" value="{{language}}">
                                        {{language}}
                                    </label>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="range-slider col-sm-10">
                                <input class="range-slider__range form-control" name="passwordsize" type="range" value="4" min="2" max="8" id="passwordsize">
                                <span class="range-slider__value">4</span>
                            </div>
                            <label for="passwordsize" class="col-sm-2">Words</label>
                        </div>

                        <div class="row">
                            <button 
                                type="button" 
                                class="btn" 
                                id="generateRandomPassword" 
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Generating...">
                            Generate random password
                            </button>
                        </div>
                    </div>
                </div>
                {{/if}}

            </div>
        </div>

    </form>

    <div id="hero-footer" class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <p><small>
                                All passwords are unequivocally deleted from database once their maximum number of days or views is reached.
                                Never post identifying information along with passwords.
                            </small></p>
        </div>
    </div>
</template>

<template name="AppLayout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div id="hero-main">
                    {{> yield}}
                </div>
            </div>
        </div>
    </div>
</template>