<template name="GetMessage">
    <div>

        {{#if Template.subscriptionsReady}}
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                {{# if message }}
                <h5>Your password is below:</h5>
                <div class="alert alert-success show-message"><h2>{{message}}</h2></div>
                <p class="muted">
                    {{#if daysLeft }}
                    <strong>{{daysLeft}} days</strong>
                    {{else}}
                    <strong>less than 1 day</strong>
                    {{/if}}
                    or <strong>{{viewsLeft}} views</strong> left before deletion
                </p>
                {{else}}
                <h3>Your password was not found</h3>
                <p>It could have been deleted already.</p>
                {{/if}}
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <p><img src="img/loading2.gif" alt="Loading content" height="150" width="150" /></p>
            </div>
        </div>
        {{/if}}

        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <p><a href="/" title="Return to homepage">Return to Password Pusher</a></p>
            </div>
        </div>
    </div>
</template>